<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="{{ "/assets/plugins/jquery.fancybox/css/jquery.fancybox.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/plugins/jquery.fancybox/css/jquery.fancybox-buttons.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/custom.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/plugins/jquery.dataTables/css/Datatable.css" | relative_url }}">
   
	
    {%- feed_meta -%}
    <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>	
	
	<script src="{{ "/assets/page/js/Common.js" | relative_url }}"></script>
    <script src="{{ "/assets/page/js/Custom.js" | relative_url }}"></script>
	<script src="{{ "/assets/page/js/CustomFilter.js" | relative_url }}"></script>
	
	<script src="{{ "/assets/plugins/jquery.dataTables/js/jquery.dataTables.min.js" | relative_url }}"></script>
	<script src="{{ "/assets/plugins/jquery.dataTables/js/dataTables.bootstrap.min.js" | relative_url }}"></script>
	
	<script src="{{ "/assets/plugins/jquery.fancybox/js/CommonFancyBox.js" | relative_url }}"></script>
	<script src="{{ "/assets/plugins/jquery.fancybox/js/jquery.fancybox.js" | relative_url }}"></script>
	<script src="{{ "/assets/plugins/jquery.fancybox/js/jquery.fancybox-buttons.js" | relative_url }}"></script>
	<script src="{{ "/assets/plugins/jquery.fancybox/js/jquery.fancybox-media.js" | relative_url }}"></script>
		
		
    <!--<script src="{{ "/assets/javascript/fancy_box/jquery.fancybox.js" | relative_url }}"></script>
    <script src="{{ "/assets/javascript/fancy_box/jquery.fancybox-buttons.js" | relative_url }}"></script>
    <script src="{{ "/assets/javascript/fancy_box/jquery.fancybox-media.js" | relative_url }}"></script>-->
</head>
