<head id="metatags">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Help EasyCloudBooks</title>
    <link rel="shortcut icon" href="/assets/favicon.png"> 
{%- if page.url == "/User/Setup.html"  -%} 
	<title>Help Setup Easycloudbooks</title>
	<meta name="description" content="Six steps to implement #Paperless and #AutomatedPractice for #CA , #CS , #CPA , #Advocates and #Accounting, using #EasyCloudBooks #PracticeManagementSoftware. Click to know more" />
    <meta property="og:title" content="Want to automate your Practice?" />
    <meta property="og:description" content="Six steps to implement #Paperless and #AutomatedPractice for #CA , #CS , #CPA , #Advocates and #Accounting, using #EasyCloudBooks #PracticeManagementSoftware. Click to know more" />
	<meta property="og:image" content="https://help.easycloudbooks.com/User/seo/Setup.png" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/Setup">
	
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Six steps to implement #Paperless and #AutomatedPractice for #CA , #CS , #CPA , #Advocates and #Accounting, using #EasyCloudBooks #PracticeManagementSoftware. Click to know more" />
    <meta name="twitter:title" content="Want to automate your Practice?" />
    <meta name="twitter:image" content="https://help.easycloudbooks.com/User/seo/Setup.png" />
    <meta name="keywords" content="ca office management software, work management software for ca, ca practice management software, practice management software for chartered accountants, chartered accountant software">
{%- endif -%}

{%- if page.url == "/User/PersonalGadgets.html"  -%} 
	<title>Help Personal Gadgets</title>
	<meta name="description" content="Create your own metrics from 400+ parameters, to have overview of your #CA #CS #CPA #practice at glance." />
    <meta property="og:title" content="Metrics help you be in control & Imporve Practice." />
    <meta property="og:description" content="Create your own metrics from 400+ parameters, to have overview of your #CA #CS #CPA #practice at glance." />
	<meta property="og:image" content="https://help.easycloudbooks.com/User/seo/PersonalGadgets.png" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/PersonalGadgets">
    
	<meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Create your own metrics from 400+ parameters, to have overview of your #CA #CS #CPA #practice at glance." />
    <meta name="twitter:title" content="Metrics help you be in control & Imporve Practice." />
    <meta name="twitter:image" content="https://help.easycloudbooks.com/User/seo/PersonalGadgets.png" />
    <meta name="keywords" content="ca office automation, accounting firm workflow, accounting firm practice management software, Compliance management software, accounting firm workflow software">
{%- endif -%}	

{%- if page.url == "/User/Contact.html"  -%} 
	<title>Help Contact</title>
	<meta name="description" content="Contact management system designed to help #CA #CS #CPA,  manage relationship with clients and prospects." />
    <meta property="og:title" content="Keep your contacts handy to build relation with Contacts." />
    <meta property="og:description" content="Contact management system designed to help #CA #CS #CPA,  manage relationship with clients and prospects." />
	<meta property="og:image" content="https://help.easycloudbooks.com/User/seo/Contact.png" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/Contact">
	
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Contact management system designed to help #CA #CS #CPA,  manage relationship with clients and prospects." />
    <meta name="twitter:title" content="Keep your contacts handy to build relation with Contacts." />
    <meta name="twitter:image" content="https://help.easycloudbooks.com/User/seo/Contact.png" />
    <meta name="keywords" content="accounting firm practice management software, best workflow management software for accountants, accounting client onboarding checklist, bookkeeping client onboarding checklist template, software solutions for accountants">
{%- endif -%}	

{%- if page.url == "/User/ClientLogin.html"  -%} 
	<title>Help Client Login</title>
	<meta name="description" content="The ultimate hypothesis is that well trained, happy customers will Stay longer as customers retention Buy more of your software psell Refer you to their peers lead gen" />
    <meta property="og:title" content="In order to drive exponential growth, users have to be aware of their work." />
    <meta property="og:description" content="The ultimate hypothesis is that well trained, happy customers will Stay longer as customers retention Buy more of your software psell Refer you to their peers lead gen" />
	<meta property="og:image" content="https://help.easycloudbooks.com/User/seo/ClientLogin.png" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/ClientLogin">
	
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="The ultimate hypothesis is that well trained, happy customers will Stay longer as customers (retention) Buy more of your software (upsell) Refer you to their peers (lead gen)." />
    <meta name="twitter:title" content="In order to drive exponential growth, users have to be aware of their work." />
    <meta name="twitter:image" content="https://help.easycloudbooks.com/User/seo/ClientLogin.png" />
    <meta name="keywords" content="software solutions for financial planner, office management software, practice management tool, ca office management software, office management software for ca, cs, tax consultant, advocates">
{%- endif -%}	

{%- if page.url == "/User/Company.html"  -%} 
	<title>Help Company</title>
	<meta name="description" content="Keep your clients list at one place along with number of services that you offer to them. And help yourself to find business within your clients." />
    <meta property="og:title" content="Finding it difficult to maintain Client's list?" />
    <meta property="og:description" content="Keep your clients list at one place along with number of services that you offer to them. And help yourself to find business within your clients." />
	<meta property="og:image" content="https://help.easycloudbooks.com/User/seo/Company.png" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/Company">
   
   <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Keep your clients list at one place along with number of services that you offer to them. And help yourself to find business within your clients." />
    <meta name="twitter:title" content="Finding it difficult to maintain Client's list?" />
    <meta name="twitter:image" content="https://help.easycloudbooks.com/User/seo/Company.png" />
    <meta name="keywords" content="practice management & workflow software for accountants, online office management software, best software for billing and invoice, ca office automation, chartered accountants software">
{%- endif -%}

{%- if page.url == "/User/Projects.html"  -%} 
	<title>Help Projects</title>
	<meta name="description" content="In competitive world, it has become necessity to keep track of progress of project with costing. Check how EasyCloudBooks can help you to do that." />
    <meta property="og:title" content="Project management is like juggling three balls – time, cost and quality" />
    <meta property="og:description" content="In competitive world, it has become necessity to keep track of progress of project with costing. Check how EasyCloudBooks can help you to do that." />
	<meta property="og:image" content="https://help.easycloudbooks.com/User/seo/Projects.png" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/Projects">
	
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="In competitive world, it has become necessity to keep track of progress of project with costing. Check how EasyCloudBooks can help you to do that." />
    <meta name="twitter:title" content="Project management is like juggling three balls – time, cost and quality" />
    <meta name="twitter:image" content="https://help.easycloudbooks.com/User/seo/Projects.png" />
    <meta name="keywords" content="ca office automation software, accounting practice management software, best accounting practice management software, free office management software, go paperless in the office, going paperless">
{%- endif -%}	

{%- if page.url == "/User/ReviewProjects.html"  -%} 
	<title>Help Review Projects</title>
	<meta name="description" content="Use Maker Chekcer concept in Review module of practice management software and mark your project finish only when you are satisfied about quality." />
    <meta property="og:title" content="Are you concerned about Quality of services you offer ?" />
    <meta property="og:description" content="Use Maker Chekcer concept in Review module of practice management software and mark your project finish only when you are satisfied about quality." />
	<meta property="og:image" content="https://help.easycloudbooks.com/User/seo/ReviewProjects.png" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/ReviewProjects">
	
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Use Maker Chekcer concept in Review module of practice management software and mark your project finish only when you are satisfied about quality." />
    <meta name="twitter:title" content="Are you concerned about Quality of services you offer ?" />
    <meta name="twitter:image" content="https://help.easycloudbooks.com/User/seo/ReviewProjects.png" />
    <meta name="keywords" content="“paperless” office, paperless environment, paperless workflow, if your office has gone fully electronic">
{%- endif -%}	

{%- if page.url == "/User/FinishedProjects.html"  -%} 
	<title>Help Finished Projects</title>
	<meta name="description" content="Practice Management Software helps you to keep record of all the finished work in your firm and you can filter and search particular job fast and easily." />
    <meta property="og:title" content="Want to keep archive of all the work finished by your firm of all the year?" />
    <meta property="og:description" content="Practice Management Software helps you to keep record of all the finished work in your firm and you can filter and search particular job fast and easily." />
	<meta property="og:image" content="https://help.easycloudbooks.com/User/seo/FinishedProjects.jpg" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/FinishedProjects">
	
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Practice Management Software helps you to keep record of all the finished work in your firm and you can filter and search particular job fast and easily." />
    <meta name="twitter:title" content="Want to keep archive of all the work finished by your firm of all the year?" />
    <meta name="twitter:image" content="https://help.easycloudbooks.com/User/seo/FinishedProjects.jpg" />
    <meta name="keywords" content="software that manages your law firm for you, automate your accounting firm to 1500% growth with heather pranitis, Automated billing and collection software, Receivable management software">
{%- endif -%}

{%- if page.url == "/User/ProjectImport.html"  -%} 
	<title>Help Project Import</title>
	<meta name="description" content="Easycloudbooks provides the facility to create multiple projects at a same time, through a single process." />
    <meta property="og:title" content="Get your projects on board with few simple clicks and start your journey towards paperless office." />
    <meta property="og:description" content="Easycloudbooks provides the facility to create multiple projects at a same time, through a single process." />
	<meta property="og:image" content="https://help.easycloudbooks.com/User/seo/ProjectImport.png" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/ProjectImport">
	
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Easycloudbooks provides the facility to create multiple projects at a same time, through a single process." />
    <meta name="twitter:title" content="Get your projects on board with few simple clicks and start your journey towards paperless office." />
    <meta name="twitter:image" content="https://help.easycloudbooks.com/User/seo/ProjectImport.png" />
    <meta name="keywords" content="ca office management software, work management software for ca, ca practice management software, practice management software for chartered accountants, chartered accountant software">
{%- endif -%}	

{%- if page.url == "/User/ServiceScheduler.html"  -%} 
	<title>Help Service Scheduler</title>
	<meta name="description" content="Click on this link to learn automatic project creation and allocation using EasyCloudBooks." />
    <meta property="og:title" content="Schedule recurring projects and save time." />
    <meta property="og:description" content="Click on this link to learn automatic project creation and allocation using EasyCloudBooks." />
	<meta property="og:image" content="https://help.easycloudbooks.com/User/seo/ServiceScheduler.png" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/ServiceScheduler">
	
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Click on this link to learn automatic project creation and allocation using EasyCloudBooks." />
    <meta name="twitter:title" content="Schedule recurring projects and save time." />
    <meta name="twitter:image" content="https://help.easycloudbooks.com/User/seo/ServiceScheduler.png" />
    <meta name="keywords" content="ca office automation, accounting firm workflow, accounting firm practice management software, Compliance management software, accounting firm workflow software">
{%- endif -%}

{%- if page.url == "/User/Accounts.html"  -%} 
	<title>Help Accounts</title>
	<meta name="description" content="Accounts page will help you create bill, receipt and manage ledger of your clients. you will get facility to get online payments from your clients. You can add vouchers for sales, contra, credit note, debit note, journal, payment, purchase, receipt. Further you can select multiple transactions within a ledger to print invoice and receipt." />
    <meta property="og:title" content="You Tend to forget billing client for the projects!!!" />
    <meta property="og:description" content="Accounts page will help you create bill, receipt and manage ledger of your clients. you will get facility to get online payments from your clients. You can add vouchers for sales, contra, credit note, debit note, journal, payment, purchase, receipt. Further you can select multiple transactions within a ledger to print invoice and receipt." />
	<meta property="og:image" content="https://help.easycloudbooks.com/User/seo/Accounts.png" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/Accounts">
	
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Accounts page will help you create bill, receipt and manage ledger of your clients. you will get facility to get online payments from your clients. You can add vouchers for sales, contra, credit note, debit note, journal, payment, purchase, receipt. Further you can select multiple transactions within a ledger to print invoice and receipt." />
    <meta name="twitter:title" content="You Tend to forget billing client for the projects!!!" />
    <meta name="twitter:image" content="https://help.easycloudbooks.com/User/seo/Accounts.png" />
    <meta name="keywords" content="accounting firm practice management software, best workflow management software for accountants, accounting client onboarding checklist, bookkeeping client onboarding checklist template, software solutions for accountants">
{%- endif -%}	

{%- if page.url == "/User/Document.html"  -%} 
	<title>Help Document</title>
	<meta name="description" content="Store each client's documents in seprate folders, to share documents to and from" />
    <meta property="og:title" content="Looking forward to go for paperless practice." />
    <meta property="og:description" content="Store each client's documents in seprate folders, to share documents to and from" />
	<meta property="og:image" content="https://help.easycloudbooks.com/User/seo/Document.png" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/Document">
	
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Store each client's documents in seprate folders, to share documents to and from" />
    <meta name="twitter:title" content="Looking forward to go for paperless practice." />
    <meta name="twitter:image" content="https://help.easycloudbooks.com/User/seo/Document.png" />
    <meta name="keywords" content="software solutions for financial planner, office management software, practice management tool, ca office management software, office management software for ca, cs, tax consultant, advocates">
{%- endif -%}	

{%- if page.url == "/User/DocumentLog.html"  -%} 
	<title>Help Document Log</title>
	<meta name="description" content="EasyCloudBooks keeps track of "Every action that is taken by any of your user" and also allows to recover deleted documents." />
    <meta property="og:title" content="Worried about security of documents on cloud??" />
    <meta property="og:description" content="EasyCloudBooks keeps track of "Every action that is taken by any of your user" and also allows to recover deleted documents." />
	<meta property="og:image" content="https://help.easycloudbooks.com/User/seo/DocumentLog.png" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/DocumentLog">
	
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="EasyCloudBooks keeps track of "Every action that is taken by any of your user" and also allows to recover deleted documents." />
    <meta name="twitter:title" content="Worried about security of documents on cloud??" />
    <meta name="twitter:image" content="https://help.easycloudbooks.com/User/seo/DocumentLog.png" />
    <meta name="keywords" content="practice management & workflow software for accountants, online office management software, best software for billing and invoice, ca office automation, chartered accountants software">
{%- endif -%}	

{%- if page.url == "/User/Export.html"  -%} 
	<title>Help Export</title>
	<meta name="description" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
	<meta property="og:image" content="" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/Export">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="keywords" content="ca office automation software, accounting practice management software, best accounting practice management software, free office management software, go paperless in the office, going paperless">
{%- endif -%}	

{%- if page.url == "/User/TimeSheet.html"  -%} 
	<title>Help Time Sheet</title>
	<meta name="description" content="" />
    <meta property="og:title" content="Wasting time by asking current status to everyone in the office!!!" />
    <meta property="og:description" content="" />
	<meta property="og:image" content="https://help.easycloudbooks.com/User/seo/TimeSheet.png" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/TimeSheet">
	
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:title" content="Wasting time by asking current status to everyone in the office!!!" />
    <meta name="twitter:image" content="https://help.easycloudbooks.com/User/seo/TimeSheet.png" />
    <meta name="keywords" content="“paperless” office, paperless environment, paperless workflow, if your office has gone fully electronic">
{%- endif -%}	

{%- if page.url == "/User/Query.html"  -%} 
	<title>Help Query</title>
	<meta name="description" content="Use your employee's questions as knowledge base." />
    <meta property="og:title" content="Tired of answering same questions to different articles!!!" />
    <meta property="og:description" content="Use your employee's questions as knowledge base." />
	<meta property="og:image" content="https://help.easycloudbooks.com/User/seo/Query.png" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/Query">
	
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Use your employee's questions as knowledge base." />
    <meta name="twitter:title" content="Tired of answering same questions to different articles!!!" />
    <meta name="twitter:image" content="https://help.easycloudbooks.com/User/seo/Query.png" />
    <meta name="keywords" content="software that manages your law firm for you, automate your accounting firm to 1500% growth with heather pranitis, Automated billing and collection software, Receivable management software">
{%- endif -%}

{%- if page.url == "/User/QueryBuilder.html"  -%} 
	<title>Help Query Builder</title>
	<meta name="description" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
	<meta property="og:image" content="" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/QueryBuilder">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="keywords" content="ca office management software, work management software for ca, ca practice management software, practice management software for chartered accountants, chartered accountant software">
{%- endif -%}

{%- if page.url == "/User/Scheduler.html"  -%} 
	<title>Help Scheduler</title>
	<meta name="description" content="Check this link to find how you can automate your recurring work in EasyCloudBooks." />
    <meta property="og:title" content="Still doing recurring work manually!!!" />
    <meta property="og:description" content="Check this link to find how you can automate your recurring work in EasyCloudBooks." />
	<meta property="og:image" content="https://help.easycloudbooks.com/User/seo/Scheduler.png" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/Scheduler">
	
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Check this link to find how you can automate your recurring work in EasyCloudBooks." />
    <meta name="twitter:title" content="Still doing recurring work manually!!!" />
    <meta name="twitter:image" content="https://help.easycloudbooks.com/User/seo/Scheduler.png" />
    <meta name="keywords" content="ca office automation, accounting firm workflow, accounting firm practice management software, Compliance management software, accounting firm workflow software ">
{%- endif -%}	

{%- if page.url == "/User/CustomField.html"  -%} 
	<title>Help Custom Field</title>
	<meta name="description" content="Store each clients login details and other fields at one place." />
    <meta property="og:title" content="Fed up of finding client login details at end time???" />
    <meta property="og:description" content="Store each clients login details and other fields at one place." />
	<meta property="og:image" content="https://help.easycloudbooks.com/User/seo/CustomField.png" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/CustomField">
	
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Store each clients login details and other fields at one place." />
    <meta name="twitter:title" content="Fed up of finding client login details at end time???" />
    <meta name="twitter:image" content="https://help.easycloudbooks.com/User/seo/CustomField.png" />
    <meta name="keywords" content="accounting firm practice management software, best workflow management software for accountants, accounting client onboarding checklist, bookkeeping client onboarding checklist template, software solutions for accountants">
{%- endif -%}	

{%- if page.url == "/User/EmailLog.html"  -%} 
	<title>Help Email Log</title>
	<meta name="description" content="Keep log of all the mails, and also keep track of delivery of mail. And if mail is delivered then what action user taken on your mail!!" />
    <meta property="og:title" content="Dont know whether your mails are being delivered to intended client??" />
    <meta property="og:description" content="Keep log of all the mails, and also keep track of delivery of mail. And if mail is delivered then what action user taken on your mail!!" />
	<meta property="og:image" content="https://help.easycloudbooks.com/User/seo/EmailLog.png" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/EmailLog">
	
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Keep log of all the mails, and also keep track of delivery of mail. And if mail is delivered then what action user taken on your mail!!" />
    <meta name="twitter:title" content="Dont know whether your mails are being delivered to intended client??" />
    <meta name="twitter:image" content="https://help.easycloudbooks.com/User/seo/EmailLog.png" />
    <meta name="keywords" content="software solutions for financial planner, office management software, practice management tool, ca office management software, office management software for ca, cs, tax consultant, advocates">
{%- endif -%}	

{%- if page.url == "/User/SMSLog.html"  -%} 
	<title>Help SMS Log</title>
	<meta name="description" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
	<meta property="og:image" content="" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/SMSLog">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="keywords" content="practice management & workflow software for accountants, online office management software, best software for billing and invoice, ca office automation, chartered accountants software">
{%- endif -%}

{%- if page.url == "/User/EmailTemplate.html"  -%} 
	<title>Help Email Template</title>
	<meta name="description" content="Create Email once and attach it to the automation and rest will be taken care by EasyCloudBooks." />
    <meta property="og:title" content="Tired of composing or forwarding same email to different clients!!!!" />
    <meta property="og:description" content="Create Email once and attach it to the automation and rest will be taken care by EasyCloudBooks." />
	<meta property="og:image" content="https://help.easycloudbooks.com/User/seo/EmailTemplate.png" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/EmailTemplate">
	
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Create Email once and attach it to the automation and rest will be taken care by EasyCloudBooks." />
    <meta name="twitter:title" content="Tired of composing or forwarding same email to different clients!!!!" />
    <meta name="twitter:image" content="https://help.easycloudbooks.com/User/seo/EmailTemplate.png" />
    <meta name="keywords" content="ca office automation software, accounting practice management software, best accounting practice management software, free office management software, go paperless in the office, going paperless">
{%- endif -%}	

{%- if page.url == "/User/CreateNotification.html"  -%} 
	<title>Help Create Notification</title>
	<meta name="description" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
	<meta property="og:image" content="" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/CreateNotification">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="keywords" content="“paperless” office, paperless environment, paperless workflow, if your office has gone fully electronic">
{%- endif -%}

{%- if page.url == "/User/Automation.html"  -%} 
	<title>Help Automation</title>
	<meta name="description" content="Check how to set Reminder mails or Follow up or Share update using Automation in EasyCloudBooks." />
    <meta property="og:title" content="Tend to forget sharing mails/SMS for Reminder,Follow up or Sharing updates!!!" />
    <meta property="og:description" content="Check how to set Reminder mails or Follow up or Share update using Automation in EasyCloudBooks." />
	<meta property="og:image" content="https://help.easycloudbooks.com/User/seo/Automation.png" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/Automation">
	
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Check how to set Reminder mails or Follow up or Share update using Automation in EasyCloudBooks." />
    <meta name="twitter:title" content="Tend to forget sharing mails/SMS for Reminder,Follow up or Sharing updates!!!" />
    <meta name="twitter:image" content="https://help.easycloudbooks.com/User/seo/Automation.png" />
    <meta name="keywords" content="software that manages your law firm for you, automate your accounting firm to 1500% growth with heather pranitis, Automated billing and collection software, Receivable management software">
{%- endif -%}

{%- if page.url == "/User/Staff.html"  -%} 
	<title>Help Staff</title>
	<meta name="description" content="No fixed commitment for number of users because we charge on Pay as you use basis" />
    <meta property="og:title" content="Easy And Fast Staff On Boarding" />
    <meta property="og:description" content="No fixed commitment for number of users because we charge on Pay as you use basis" />
	<meta property="og:image" content="https://help.easycloudbooks.com/User/seo/Staff.jpg" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/Staff">
	
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="No fixed commitment for number of users because we charge on Pay as you use basis" />
    <meta name="twitter:title" content="Easy And Fast Staff On Boarding" />
    <meta name="twitter:image" content="https://help.easycloudbooks.com/User/seo/Staff.jpg" />
    <meta name="keywords" content="ca office management software, work management software for ca, ca practice management software, practice management software for chartered accountants, chartered accountant software">
{%- endif -%}

{%- if page.url == "/User/ManageYear.html"  -%} 
	<title>Help Manage Year</title>
	<meta name="description" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
	<meta property="og:image" content="" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/ManageYear">
    <meta name="twitter:card" content="summary_large_image" />
	
    <meta name="twitter:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="keywords" content="ca office automation, accounting firm workflow, accounting firm practice management software, Compliance management software, accounting firm workflow software">
{%- endif -%}

{%- if page.url == "/User/Service.html"  -%} 
	<title>Help Service</title>
	<meta name="description" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
	<meta property="og:image" content="" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/Services">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="keywords" content="accounting firm practice management software, best workflow management software for accountants, accounting client onboarding checklist, bookkeeping client onboarding checklist template, software solutions for accountants">
{%- endif -%}

{%- if page.url == "/User/Team.html"  -%} 
	<title>Help Team</title>
	<meta name="description" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
	<meta property="og:image" content="" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/Team">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="keywords" content="software solutions for financial planner, office management software, practice management tool, ca office management software, office management software for ca, cs, tax consultant, advocates">
{%- endif -%}

{%- if page.url == "/User/Settings.html"  -%} 
	<title>Help Settings</title>
	<meta name="description" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
	<meta property="og:image" content="" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/Settings">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="keywords" content="practice management & workflow software for accountants, online office management software, best software for billing and invoice, ca office automation, chartered accountants software">
{%- endif -%}

{%- if page.url == "/User/GlobalSearch.html"  -%} 
	<title>Help GlobalSearch</title>
	<meta name="description" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
	<meta property="og:image" content="" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/GlobalSearch">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="keywords" content="ca office automation software, accounting practice management software, best accounting practice management software, free office management software, go paperless in the office, going paperless">
{%- endif -%}

{%- if page.url == "/User/UserProfile.html"  -%} 
	<title>Help UserProfile</title>
	<meta name="description" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
	<meta property="og:image" content="" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/UserProfile">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="keywords" content="“paperless” office, paperless environment, paperless workflow, if your office has gone fully electronic">
{%- endif -%}

{%- if page.url == "/User/ChangeLog.html"  -%} 
	<title>Help ChangeLog</title>
	<meta name="description" content="Track latest features with new releases of practice management software and be first to use those features. " />
    <meta property="og:title" content="Do you want to be updated about what's new in your practice management software" />
    <meta property="og:description" content="Track latest features with new releases of practice management software and be first to use those features. " />
	<meta property="og:image" content="https://help.easycloudbooks.com/User/seo/ChangeLog.jpg" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/ChangeLog">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Track latest features with new releases of practice management software and be first to use those features. " />
    <meta name="twitter:title" content="Do you want to be updated about what's new in your practice management software" />
    <meta name="twitter:image" content="https://help.easycloudbooks.com/User/seo/ChangeLog.jpg" />
    <meta name="keywords" content="software that manages your law firm for you, automate your accounting firm to 1500% growth with heather pranitis, Automated billing and collection software, Receivable management software">
{%- endif -%}

{%- if page.url == "/User/Template.html"  -%} 
	<title>Help Template</title>
	<meta name="description" content="Simply mention the process of perticular service in one project and then save it as Template. So, when project for that service gets created then it comes with pre-difined instructions." />
    <meta property="og:title" content="Tired of explaining process to employees every time when actual work starts." />
    <meta property="og:description" content="Simply mention the process of perticular service in one project and then save it as Template. So, when project for that service gets created then it comes with pre-difined instructions." />
	<meta property="og:image" content="https://help.easycloudbooks.com/User/seo/Template.png" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/Template">
	
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Simply mention the process of perticular service in one project and then save it as Template. So, when project for that service gets created then it comes with pre-difined instructions." />
    <meta name="twitter:title" content="Tired of explaining process to employees every time when actual work starts." />
    <meta name="twitter:image" content="https://help.easycloudbooks.com/User/seo/Template.png" />
    <meta name="keywords" content="ca office management software, work management software for ca, ca practice management software, practice management software for chartered accountants, chartered accountant software">
{%- endif -%}

{%- if page.url == "/User/Role.html"  -%} 
	<title>Help Role</title>
	<meta name="description" content="Avoid unauthorized access by implementing role-based permissions for file entry. This ensures only the right people can open, view, and modify certain files." />
    <meta property="og:title" content="Avoid unauthorized access by implementing role-based permissions" />
    <meta property="og:description" content="Avoid unauthorized access by implementing role-based permissions for file entry. This ensures only the right people can open, view, and modify certain files." />
	<meta property="og:image" content="https://help.easycloudbooks.com/User/seo/Role.png" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/Role">
	
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Avoid unauthorized access by implementing role-based permissions for file entry. This ensures only the right people can open, view, and modify certain files." />
    <meta name="twitter:title" content="Avoid unauthorized access by implementing role-based permissions" />
    <meta name="twitter:image" content="https://help.easycloudbooks.com/User/seo/Role.png" />
    <meta name="keywords" content="ca office automation, accounting firm workflow, accounting firm practice management software, Compliance management software, accounting firm workflow software">
{%- endif -%}

{%- if page.url == "/User/Notifications.html"  -%} 
	<title>Help Notifications</title>
	<meta name="description" content="Whenever project gets created, then EasyCloudBooks automatically gives notification to all the user in it." />
    <meta property="og:title" content="Tired of calling employees to assign new tasks??" />
    <meta property="og:description" content="Whenever project gets created, then EasyCloudBooks automatically gives notification to all the user in it." />
	<meta property="og:image" content="https://help.easycloudbooks.com/User/seo/Notifications.png" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/Notifications">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Whenever project gets created, then EasyCloudBooks automatically gives notification to all the user in it." />
    <meta name="twitter:title" content="Tired of calling employees to assign new tasks??" />
    <meta name="twitter:image" content="https://help.easycloudbooks.com/User/seo/Notifications.png" />
    <meta name="keywords" content="accounting firm practice management software, best workflow management software for accountants, accounting client onboarding checklist, bookkeeping client onboarding checklist template, software solutions for accountants">
{%- endif -%}

{%- if page.url == "/User/SampleExcelFiles.html"  -%} 
	<title>Help Sample Excel Files</title>
	<meta name="description" content="Download excel formats and fill in relevant data for easy import to practice management software. " />
    <meta property="og:title" content="Are you concerned about easy migration to practice management software?" />
    <meta property="og:description" content="Download excel formats and fill in relevant data for easy import to practice management software. " />
	<meta property="og:image" content="https://help.easycloudbooks.com/User/seo/SampleExcelFiles.png" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/SampleExcelFiles">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Download excel formats and fill in relevant data for easy import to practice management software. " />
    <meta name="twitter:title" content="Are you concerned about easy migration to practice management software?" />
    <meta name="twitter:image" content="https://help.easycloudbooks.com/User/seo/SampleExcelFiles.png" />
    <meta name="keywords" content="software solutions for financial planner, office management software, practice management tool, ca office management software, office management software for ca, cs, tax consultant, advocates">
{%- endif -%}

{%- if page.url == "/User/ApiCall.html"  -%} 
	<title>Help ApiCall</title>
	<meta name="description" content="Use api calls to view modules usage by team members and how are being charged for the same." />
    <meta property="og:title" content="Want to view which modules are mostly used by team members?" />
    <meta property="og:description" content="Use api calls to view modules usage by team members and how are being charged for the same." />
	<meta property="og:image" content="https://help.easycloudbooks.com/User/seo/ApiCall.png" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/ApiCall">
	
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Use api calls to view modules usage by team members and how are being charged for the same." />
    <meta name="twitter:title" content="Want to view which modules are mostly used by team members?" />
    <meta name="twitter:image" content="https://help.easycloudbooks.com/User/seo/ApiCall.png" />
    <meta name="keywords" content="practice management & workflow software for accountants, online office management software, best software for billing and invoice, ca office automation, chartered accountants software">
{%- endif -%}

{%- if page.url == "/User/CompanyImport.html"  -%} 
	<title>Help Company Import</title>
	<meta name="description" content="Setup your online practice in minutes using excel to import companies and contacts with custom fields of your choice." />
    <meta property="og:title" content="Do you want to import data from existing tax software to practice management software?" />
    <meta property="og:description" content="Setup your online practice in minutes using excel to import companies and contacts with custom fields of your choice." />
	<meta property="og:image" content="https://help.easycloudbooks.com/User/seo/CompanyImport.png" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/CompanyImport">
	
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Setup your online practice in minutes using excel to import companies and contacts with custom fields of your choice." />
    <meta name="twitter:title" content="Do you want to import data from existing tax software to practice management software?" />
    <meta name="twitter:image" content="https://help.easycloudbooks.com/User/seo/CompanyImport.png" />
    <meta name="keywords" content="“paperless” office, paperless environment, paperless workflow, if your office has gone fully electronic">
{%- endif -%}

{%- if page.url == "/User/CustomFilterList.html"  -%} 
	<title>Help Custom Filter List</title>
	<meta name="description" content="You can create custom queries using multiple variables and save it for future use. Create queries and apply it on projects, contacts, companies and accounts." />
    <meta property="og:title" content="Want to view customise report using custom filter ?" />
    <meta property="og:description" content="You can create custom queries using multiple variables and save it for future use. Create queries and apply it on projects, contacts, companies and accounts." />
	<meta property="og:image" content="https://help.easycloudbooks.com/User/seo/CustomFilterList.png" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/CustomFilterList">
	
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="You can create custom queries using multiple variables and save it for future use. Create queries and apply it on projects, contacts, companies and accounts." />
    <meta name="twitter:title" content="Want to view customise report using custom filter ?" />
    <meta name="twitter:image" content="https://help.easycloudbooks.com/User/seo/CustomFilterList.png" />
    <meta name="keywords" content="software that manages your law firm for you, automate your accounting firm to 1500% growth with heather pranitis, Automated billing and collection software, Receivable management software">
{%- endif -%}

{%- if page.url == "/User/Key.html"  -%}  
    <title>Help Key</title>
    <meta name="description" content="Use Global Keys and Personal keys while creating templates to automatically replace values of those keys in email." />
    <meta property="og:title" content="Want to customise email using mail merge facility?" />
    <meta property="og:description" content="Use Global Keys and Personal keys while creating templates to automatically replace values of those keys in email." />
    <meta property="og:image" content="https://help.easycloudbooks.com/User/seo/Key.png" />
    <meta property="og:url" content="https://help.easycloudbooks.com/User/Key">
	
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Use Global Keys and Personal keys while creating templates to automatically replace values of those keys in email." />
    <meta name="twitter:title" content="Want to customise email using mail merge facility?" />
    <meta name="twitter:image" content="https://help.easycloudbooks.com/User/seo/Key.png" />
    <meta name="keywords" content="ca office management software, work management software for ca, ca practice management software, practice management software for chartered accountants, chartered accountant software">
{%- endif -%}
	 
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="EasyCloudBooks" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="450" />
    <meta property="og:image:height" content="300" />
    <meta property="fb:app_id" content="1516534791961245" />

	
	 
		
	 
		
	   
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ "/assets/plugins/jquery.fancybox/css/jquery.fancybox.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/plugins/jquery.fancybox/css/jquery.fancybox-buttons.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/custom.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/plugins/jquery.dataTables/css/Datatable.css" | relative_url }}">
  
	
    {%- feed_meta -%} 
    <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>	
	
	<script src="{{ "/assets/page/js/Common.js" | relative_url }}"></script>
    <script src="{{ "/assets/page/js/Custom.js" | relative_url }}"></script>
	<script src="{{ "/assets/page/js/CustomFilter.js" | relative_url }}"></script>
	
	<script src="{{ "/assets/plugins/jquery.dataTables/js/jquery.dataTables.min.js" | relative_url }}"></script>
	<script src="{{ "/assets/plugins/jquery.dataTables/js/dataTables.bootstrap.min.js" | relative_url }}"></script>
	
	<script src="{{ "/assets/plugins/jquery.fancybox/js/CommonFancyBox.js" | relative_url }}"></script>
	<script src="{{ "/assets/plugins/jquery.fancybox/js/jquery.fancybox.js" | relative_url }}"></script>
	<script src="{{ "/assets/plugins/jquery.fancybox/js/jquery.fancybox-buttons.js" | relative_url }}"></script>
	<script src="{{ "/assets/plugins/jquery.fancybox/js/jquery.fancybox-media.js" | relative_url }}"></script>
		
		
    <!--<script src="{{ "/assets/javascript/fancy_box/jquery.fancybox.js" | relative_url }}"></script>
    <script src="{{ "/assets/javascript/fancy_box/jquery.fancybox-buttons.js" | relative_url }}"></script>
    <script src="{{ "/assets/javascript/fancy_box/jquery.fancybox-media.js" | relative_url }}"></script>-->
</head>
