<head id="metatags">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Help EasyCloudBooks</title>
		{%- if page.url == "/User/Company.html"  -%} 
		    <title>EasyCloudBooks</title>
			<meta property='og:title' content='How to manage on EasyCloudBooks?' />
			<meta name='description' property='og:description' content='[This module enables you to access all your companies information within seconds. Apart from general information like company’s name, address, industry type, legal structure, it also provides essential details such as pending projects, projects on hold, billed amount, balance pending, custom details pending if unavailable, and its manager/contact person who deals with the matter. It also informs about the relationship manager i.e., any member of your staff whom the projects of that company have been assigned.]' />
			<meta property='og:url' content='https://help.easycloudbooks.com/User/Company' />
			<meta property='og:image' content='https://help.easycloudbooks.com/User/faqimages/company/liceadd.png' />
		{%- endif -%}
	   
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ "/assets/plugins/jquery.fancybox/css/jquery.fancybox.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/plugins/jquery.fancybox/css/jquery.fancybox-buttons.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/custom.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/plugins/jquery.dataTables/css/Datatable.css" | relative_url }}">
   <style>
   .colorheader , #full1::before
{
background: linear-gradient(to top right,#2490d9,#00d685);
background: url(sections.png),linear-gradient(to top right,#2490d9,#00d685);
background-color: rgba(0, 0, 0, 0);
 background-repeat: repeat, repeat;
background-repeat: repeat;
}

.coloropen, #full1::after
{
border-bottom-color: rgba(255,255,255,.35);
background-color: rgba(0,0,0,.6) !important;
}
   </style>
	
    {%- feed_meta -%} 
    <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>	
	
	<script src="{{ "/assets/page/js/Common.js" | relative_url }}"></script>
    <script src="{{ "/assets/page/js/Custom.js" | relative_url }}"></script>
	<script src="{{ "/assets/page/js/CustomFilter.js" | relative_url }}"></script>
	
	<script src="{{ "/assets/plugins/jquery.dataTables/js/jquery.dataTables.min.js" | relative_url }}"></script>
	<script src="{{ "/assets/plugins/jquery.dataTables/js/dataTables.bootstrap.min.js" | relative_url }}"></script>
	
	<script src="{{ "/assets/plugins/jquery.fancybox/js/CommonFancyBox.js" | relative_url }}"></script>
	<script src="{{ "/assets/plugins/jquery.fancybox/js/jquery.fancybox.js" | relative_url }}"></script>
	<script src="{{ "/assets/plugins/jquery.fancybox/js/jquery.fancybox-buttons.js" | relative_url }}"></script>
	<script src="{{ "/assets/plugins/jquery.fancybox/js/jquery.fancybox-media.js" | relative_url }}"></script>
		
		
    <!--<script src="{{ "/assets/javascript/fancy_box/jquery.fancybox.js" | relative_url }}"></script>
    <script src="{{ "/assets/javascript/fancy_box/jquery.fancybox-buttons.js" | relative_url }}"></script>
    <script src="{{ "/assets/javascript/fancy_box/jquery.fancybox-media.js" | relative_url }}"></script>-->
</head>
