<div class="d-none d-xl-block col-xl-2 bd-toc">
    <ul class="section-nav">
        <li class="toc-entry toc-h2"><a href="{{ "/User/Setup" | absolute_url }}">Setup Easycloudbooks</a></li>
        <li class="toc-entry toc-h2">
            <a href="{{ "/User/Home" | absolute_url }}">Dashboard</a>
            <ul>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Home" | absolute_url }}">Home</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/PersonalGadgets" | absolute_url }}">Personal Gadgets</a></li>
            </ul>
        </li>
        <li class="toc-entry toc-h2">
            <a href="{{ "/User/Contact" | absolute_url }}">Contacts</a>
            <ul>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Contact" | absolute_url }}">Contacts</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/ClientLogin" | absolute_url }}">ClientLogin</a></li>
                <!--<li class="toc-entry toc-h2"><a href="{{ "/Client/Cart" | absolute_url }}">Client Cart</a></li>-->

            </ul>
        </li>
        <li class="toc-entry toc-h2"><a href="{{ "/User/Company" | absolute_url }}">Company</a></li>
        <li class="toc-entry toc-h2">
            <a href="{{ "/User/Projects" | absolute_url }}">Projects</a>
            <ul>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Projects" | absolute_url }}">Projects</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/ReviewProjects" | absolute_url }}">Review Projects</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/FinishedProjects" | absolute_url }}">Finished Projects</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/ProjectImport" | absolute_url }}">Project Import</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/ServiceScheduler" | absolute_url }}">Service Scheduler</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Accounts" | absolute_url }}">Accounts</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/PaymentLog" | absolute_url }}">Payment Log</a></li>
            </ul>
        </li>

        <!--<li class="toc-entry toc-h2">
            <a href="{{ "/User/document" | absolute_url }}">Documents</a>
            <ul>
                <li class="toc-entry toc-h3"><a href="{{ "/User/document" | absolute_url }}">Documents</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/documentlog" | absolute_url }}">Document Log</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/export" | absolute_url }}">Export</a></li>
            </ul>
        </li>-->


        <li class="toc-entry toc-h2"><a href="{{ "/User/TimeSheet" | absolute_url }}">TimeSheet</a></li>
        <li class="toc-entry toc-h2"><a href="{{ "/User/InOutDocuments" | absolute_url }}">InOut Documents</a></li>

        <li class="toc-entry toc-h2">
            <a href="{{ "/User/Query" | absolute_url }}">Query</a>
            <ul>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Query" | absolute_url }}">Query</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/QueryBuilder" | absolute_url }}">Query Builder</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Scheduler" | absolute_url }}">Scheduler</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/CustomField" | absolute_url }}">Custom Field</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/AccountStatemenTax" | absolute_url }}">Tax Settings</a></li>
            </ul>
        </li>
        <li class="toc-entry toc-h2">
            <a href="{{ "/User/NotifyDashboard" | absolute_url }}">Email/SMS</a>
            <ul>
                <li class="toc-entry toc-h3"><a href="{{ "/notify/NotifyDashboard" | absolute_url }}">Notify Dashboard</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/notify/EmailLog" | absolute_url }}">Email Log</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/notify/SMSLog" | absolute_url }}">SMS Log</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/notify/EmailTemplate" | absolute_url }}">Email Templates</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/notify/CreateNotification" | absolute_url }}">Create Notification</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/notify/Automation" | absolute_url }}">Automation</a></li>
            </ul>
        </li>
        <li class="toc-entry toc-h2">
            <a href="{{ "/User/notifydashboard" | absolute_url }}">Settings</a>
            <ul>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Staff" | absolute_url }}">Staff</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/ManageYear" | absolute_url }}">Year &amp; Periods</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Services" | absolute_url }}">Services</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Team" | absolute_url }}">Team</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Settings" | absolute_url }}">Settings</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Template" | absolute_url }}">Project Templates</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Role" | absolute_url }}">Roles</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Activepackages" | absolute_url }}">Active Packages</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Package" | absolute_url }}">Buy Package</a></li>
            </ul>
        </li>
        <!--<li class="toc-entry toc-h2">
            <a href="{{ "/User/notifydashboard" | absolute_url }}">Miscellaneous </a>
            <ul>
                <li class="toc-entry toc-h3"><a href="{{ "/User/staff" | absolute_url }}">Global Search</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/manageyear" | absolute_url }}">User profile</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/services" | absolute_url }}">Change Log</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/team" | absolute_url }}">Notifications</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/settings" | absolute_url }}">SampleExcelFiles</a></li>
            </ul>
        </li>-->



    </ul>
</div>