   <ul class="section-nav">
<li class="toc-entry toc-h2"><a href="User/Home">Home</a></li>
<li class="toc-entry toc-h2"><a href="User/Contact">Contacts</a>
<ul>
<li class="toc-entry toc-h4"><a href="User/Contact">Contacts</a></li>
<li class="toc-entry toc-h4"><a href="#">Client Login</a></li>
<li class="toc-entry toc-h4"><a href="#">Client Cart</a></li>
</ul>
</li>
<li class="toc-entry toc-h2"><a href="Company">Company</a></li>
<li class="toc-entry toc-h2"><a href="Projects">Projects</a></li>
</ul>
