<div class="d-none d-xl-block col-xl-2 bd-toc">
    <ul class="section-nav">
        <li class="toc-entry toc-h2">
            <a href="{{ "/User/Contact" | absolute_url }}">Contacts</a>
            <ul>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Contact" | absolute_url }}">Contact</a></li>
                <li class="toc-entry toc-h3"><a href="#">Client Login</a></li>
                <li class="toc-entry toc-h3"><a href="#">Client Carts</a></li>
            </ul>
        </li>
        <li class="toc-entry toc-h2"><a href="{{ "/User/Company" | absolute_url }}">Company</a></li>
        <li class="toc-entry toc-h2"><a href="{{ "/User/Projects" | absolute_url }}">Projects</a></li>
        <li class="toc-entry toc-h2"><a href="{{ "/User/Documents" | absolute_url }}">Documents</a></li>
        <li class="toc-entry toc-h2"><a href="{{ "/Client/Cart" | absolute_url }}">Client Cart</a></li>
    </ul>
</div>