body
{

    overflow-x:hidden;
}
//Custom scss
.card-header:before {
    box-shadow: 0px 15px 10px -15px;
}

.card-header:after {
    border-bottom: 2px solid rgba(0,0,0,0.125);
}

.bg-blue
{
    background-color:#563d7c;
}


//navbar style
li.nav-item 
{
    padding:5px 0px;
}

.txt-white {
    color: #6c757d;
}
.list-unstyled
{
    padding-left:15px !important;

}
a.txt-white i
{
    padding-right:7px;
}
@media (min-width:777px) {

    .nav-position {
        position: absolute;
        top: 0px;
        left: 16px;
    }

    .navbarfull {
        width: 18%;
        overflow-y: auto;
    }
}

    .toggler-right {
        position: absolute;
        top: 8px;
        right: 16px;
    }

    @media (max-width:767px) And (min-width:100px) {
        .navbarfull {
            width: 100% !important;
        }
        span.navbar-toggler-icon i {
            background-color: #fff;
            color: #563d7c;
        }
        .textright
        {
            text-align:left;

        }
    }


    .linetonav {
        display: block;
    }

    a:hover {
        text-decoration: none;
    }

    ///card

.card {
    box-shadow: 0px 15px 10px -15px;
}

// text page

.faq-question {
    color: #563d7c !important;
}

//footer

.float-left
{
    float:left;

}
#footer-style {
    border: 1.5px solid #d5d2d2;
    background-color: #e9ecef;
    padding-top: 10px;
    color: #6c757d;
}
.footer-main-line {

    color:#000000b3;
}

.footer-list-unstyled
{  
    padding-left:0px;
    list-style:none;
}


@media (min-width:767px)
{
    .textright {
        text-align: right;
    }
}