//Custom scss
.card-header:before
{
box-shadow: 0px 15px 10px -15px;

}

.card-header:after {
    border-bottom: 2px solid rgba(0,0,0,0.125);
}


.bg-blue
{
    background-color:#563d7c;
}


.toggler-right {
    position: absolute;
    top: 8px;
    right: 16px;
}
@media (max-width:748px)  And (min-width:100px)
{
    .navbarfull {
        width: 100% !important;
       
    }

}

 .navbarfull {
        width: 100% !important;

        overflow-y: auto;
    }

.linetonav
{
    display:block;
}
a:hover
{
   text-decoration:none;
}